C:/Users/crabb/OneDrive/Documents/Rstudio/Final Project/AsaFriedrich_website_Math204/.Rproj.user/shared/notebooks/2DFD1920-mainproject/1/s/cspfddtu8rp0a_t